{{ define "packageDetails" }}
<div class="row">
  <div class="container">
  <div class="col align-self-center">
    <div class="page-header">
      <h1>Packages</h1>
    </div>
    <table class="table table-striped">
      <thead class="thead-dark">
      <th>Name</th>
        <th>Version</th>
        <!-- <th>&nbsp;</th> -->
      </thead>
      <tbody>
        {{- range  . }}
          <tr>
            <td><a href="/api{{ .URL }}">{{ .Name }}</a></td>
            <td>{{ .Version }}</td>
          </tr>
        {{- end}}
      </tbody>
    </table>
  </div>
  </div>
</div>
{{ end }}